/* 
    Document   : estilos
    Created on : 27/10/2016, 07:38:50 AM
    Author     : namuel.solorzano
    Description:
        Purpose of the stylesheet follows.
*/

h1{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
        
}

#menu{
    width: 100%;
    border-bottom: 1px solid coral;
    border-top: 1px solid coral;
    padding: 20px;
    background-color: cornsilk;
    
}

#menu a{
    
    padding: 10px;
    margin-left: 10px;
    
    text-decoration: none;
    width: 60px;
}

#menu a:hover{
    background-color: coral;
}
